body {
	margin: 0;
	padding: 0;
	background-color: #9dd6db;
}

#container {
	width: 80%;
	margin: 10%;
	background-color: white;
}

#navbutton {
	width: 5%;;
	margin: 10%;
	margin-left: 10%;
	float: left;
	text-align: center;
	margin: auto;
	padding: 2.5%;
	background-color: orange;
	margin: 2px;
	border-color: black;
	border-radius: 0.5em;
}

#flight-result, #hotel-result, #attraction-result {
	visibility: hidden;
}

#amount {
	padding-right: 10%;
	background-color: black;
	opacity: .7;
	color: white;
	text-align: right;
	bottom: 1%;
	position: relative;
}