input {
	float: left;
	margin-left: 4%;
}

#option, #image, #rating, #price, #namestar, #rent {
	float: left;
	text-align: center;
}



#optiondiv {
	float: left;
	background-color: aqua;
	margin: auto 5%;
	height: 20%;
	width: 40%;
}

#image, #namestar, #price {
	margin: auto 7%;
}

#image {
	margin-left: 1%;
	width: 25%;
}

#namestar {
	text-align: center;
}

#star {
	margin-bottom: 2%;
}

#price {
	margin-right: 1%;
	width: 20%;
}
