<body id="about">
  <div style="height:100%;position:relative;">
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<nav>

								<ul class="nav masthead-nav">
									<li><a href="./">Home</a></li>
									<li class="active"><a href="#">About</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="inner cover">
						<h1 class="cover-heading" style="font-size:60px;"><img src="<%= asset_path 'logo.png' %>" width="75px" style=" margin-right:10px;">About <div style="color:orange; display:inline-block;">Us</div></h1>
						<p class="lead" style="text-align:center;">
              Travllr is a trip planning website. Started as a project for PennApps XII, travllr.me is a fresh new website with an amazing concept built in Philadelphia. Travllr not only gives you suggestions about things most that make a trip, like plane tickets, hotels, sightseeing, attractions, etc; It can also make a fully-automated trip itinerary for you, according to your budget, as long as you want, and as happening as you choose. Travllr is a link, a special link which makes you come closer to realizing your dream vacation without any hassle of planning. Travllr.me wouldn't have been possible without 4 people (or let's just say hackers). These developers hailing from different parts of the world, came together and created what is now known as Travllr. It doesn't matter who got the idea, who designed the webpage, and who wrote the code. The only thing that matters is, IT'S MADE WITH LOVE!
						</p>
					</div>
					<div class="mastfoot">
						<div class="inner">
							<p>Made with <span class="text-danger mdi-action-favorite"></span> by Richard, Fired, Aahan, Kevin</p>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
