
	<body ng-app="choosePage" id="choose">
		<script type="text/javascript">autoload();</script>
		<br><br>
		<div id="nav">
			<div id="navbutton">Flight</div>
			<div id="navbutton">Hotel</div>
			<div id="navbutton">Attractions</div>
		</div>
		<br><br>
		<div id="container" ng-controller="mainController">
			<div id="flight-result">
				dyvtvt
			</div>
			<div ng-repeat="hotel in hotels">
				<h1>{{hotel.Name}}</h1>
				<img src="{{hotel.ThumbnailUrl}}"></img>
				<p>{{hotel.Description}}</p>
				<p>{{hotel.StarRating}}</p>
			</div>
			<div id="attraction-result">
				dyvtvt
			</div>
		</div>

		<div id="amount">
			Total Amount: $430
		</div>

	</body>
