
	<body id="datepick">

		<div id="date">
			<div class="column">
				<strong>Start Date</strong>
				<div id="start"></div>
			</div><!--
			--><div class="column">
				<strong>End Date</strong>
				<div id="end"></div>

			</div>
		</div>


	</body>
