<!DOCTYPE html>
<html>
	<head>
		<title>Date page</title>

		<link href="css/date.css" rel="stylesheet">
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/date.js"></script>
	</head>
	<body>

		<div id="date">
			<div class="column">
				<strong>Start Date</strong>
				<div id="start"></div>
			</div><!--
			--><div class="column">
				<strong>End Date</strong>
				<div id="end"></div>

			</div>
		</div>


	</body>
</html>
