
	<body id="home">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3jbHCRxEaq_SDfbkwpWIjOMNjWVjnk4&libraries=places"></script>

		<div id="nav">
			<a id="home" href="#">Home</a>
			<a id="about" href="#aboutpage">About</a>
			<a id="profile" href="#profilepage">Profile</a>
			<a id="contact" href="#contactpage">Contact</a>
		</div>

		<br><br><br><br><br>
		<div id="heading">
			TravelR
		</div>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div id="search">
			<input type="text" class="location-input" id="origin" placeholder="Origin">
			<input type="text" class="location-input" id="destination" placeholder="Destination">
			<%= link_to 'Go!',
		</div>


		<div id="date">
			<div class="column">
				<strong>Start Date</strong>
				<div id="start"></div>
			</div><!--
			--><div class="column">
			<strong>End Date</strong>
			<div id="end"></div>

		</div>
	</div>

	</body>
