<!DOCTYPE html>
<html>
	<head>
		<title>Travelr</title>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3jbHCRxEaq_SDfbkwpWIjOMNjWVjnk4&libraries=places"></script>
		</script>
	</head>
	<body>
		<div id="nav">
			<a id="home" href="#">Home</a>
			<a id="about" href="#aboutpage">About</a>
			<a id="profile" href="#profilepage">Profile</a>
			<a id="contact" href="#contactpage">Contact</a>
		</div>

		<br><br><br><br><br>
		<div id="heading">
			TravelR
		</div>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div id="search">
			<input type="text" class="location-input" id="origin" placeholder="Origin">
			<input type="text" class="location-input" id="destination" placeholder="Destination">
			<a href="date.html"> <input type="submit" value="Go!" id="submit_button">  </a>
		</div>

	</body>
</html>
