
<body id="home" ng-app="homePage">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3jbHCRxEaq_SDfbkwpWIjOMNjWVjnk4&libraries=places"></script>
	<script type="text/javascript">autoload();</script>
	<div ng-controller="mainController" style="height:100%;position:relative;">
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<nav>
								<ul class="nav masthead-nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="inner cover">
						<h1 class="cover-heading">Travllr</h1>
						<p class="lead">Get started now.</p>
						<p class="lead" style="text-align:center;">
							<%= text_field_tag :origin, nil, class: 'location-input form-control', 'ng-model': 'data.location.start', 'placeholder': 'Home city'%>
							<%= text_field_tag :destination, nil, class: 'location-input form-control', 'ng-model': 'data.location.end', 'placeholder': 'Destination city' %>
							<button ng-click="page=1;" class="btn btn-primary" ng-disabled="!(data.location.start!=''&&data.location.end!='')">Next</button>
						</p>
					</div>
					<div class="mastfoot">
						<div class="inner">
							<p>Made with <span class="text-danger mdi-action-favorite"></span> by Richard, Fired, Aahan, Kevin</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="form-container" ng-class="{active: page > 0}">
			<div class="container">
				<div class="contents" ng-show="page==1">
					<h1>Select your getaway date</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div class="row" style="text-align:center;">
								<div class="col-md-6">
									<h3>Start Date</h3>
									<div id="start-calendar"></div>
								</div>
								<div class="col-md-6">
									<h3>End Date</h3>
									<div id="end-calendar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==2">
					<h1>Select your flight</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="flight in flights" ng-class="{success:$index==$parent.selectedFlight}" ng-click="$parent.selectedFlight=$index">
											<td><strong class="text-success">{{flight.saleTotal}}</strong><div class="text-muted">round trip</div></td>
											<td>
												<strong class="text-primary">Departing</strong>
												<div ng-repeat="segment in flight.slice[0].segment"><strong>{{convertDate(segment.leg[0].departureTime)}} - {{convertDate(segment.leg[0].arrivalTime)}}</strong>&nbsp;<span class="text-muted">{{segment.leg[0].origin}} - {{segment.leg[0].destination}}</span><div class="text-muted">{{getCarrier(segment.flight.carrier)}} ({{segment.flight.carrier}}{{segment.flight.number}})</div></div>
											</td>
											<td>
												<strong class="text-primary">Returning</strong>
												<div ng-repeat="segment in flight.slice[1].segment"><strong>{{convertDate(segment.leg[0].departureTime)}} - {{convertDate(segment.leg[0].arrivalTime)}}</strong>&nbsp;<span class="text-muted">{{segment.leg[0].origin}} - {{segment.leg[0].destination}}</span><div class="text-muted">{{getCarrier(segment.flight.carrier)}} ({{segment.flight.carrier}}{{segment.flight.number}})</div></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==3">
					<h1>Select your hotel</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="hotel in hotels" ng-class="{success:$index==$parent.selectedHotel}" ng-click="$parent.selectedHotel=$index">
											<td><img src="{{hotel.ThumbnailUrl}}" style="height:60px;"></td>
											<td><div class="text-primary header">{{hotel.Name}}</div><div style="100px;"><span class="mdi-action-grade" style="font-size:14px;" ng-repeat="rating in getNumber(hotel.GuestRating)"></span></div></td>
											<td><div class="text-muted">{{hotel.Location.StreetAddress}}</div><p>{{hotel.Description}}</p></td>
											<td><div class="text-success header" ng-if="hotel.Price"><span style="font-size:1.5em">${{hotel.Price.TotalRate.Value}}</span><br/>(${{divideDays(hotel.Price.TotalRate.Value) | number:2}} per day)</div><a href="{{hotel.DetailsUrl}}" target="_blank" class="text-success" style="text-align:center;" ng-if="!hotel.Price">See<br/>Price</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==4">
					<h1>Select your activities</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="activity in activities" ng-class="{success:$parent.activitySelected($index)}" ng-click="$parent.toggleActivity($index)">
											<td><img src="{{activity.image_url}}" style="height:60px;"></td>
											<td><div class="text-primary header">{{activity.name}}</div><div></div></td>
											<td><div class="text-muted">{{activity.location.address[0]}}</div><p>{{activity.snippet_text}}</p></td>
											<td><div class="text-success header" ng-if="hotel.Price">${{activity.Price.TotalRate.Value}}</div><a href="{{activity.url}}" target="_blank" class="text-success" style="text-align:center;" ng-if="!hotel.Price">More<br/>Info</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==5">
					<div class="panel main-panel" ng-hide="loaded">
						<div class="panel-body">
							<div>
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
						</div>
					</div>
					<div ng-show="loaded">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel" style="background-image:url('<%=asset_path "plane.jpg"%>');backgrond-size:cover;background-position:center center;">
								<div class="panel-body" style="color:#FFF;">
									<h1>Trip Itinerary</h1>
									<p>New York, United States | September 16, 2015</p>
								</div>
							</div>
							<div class="panel panel-danger">
								<div class="panel-heading" role="tab" id="departure-heading">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" href="#departure-panel" aria-expanded="true" aria-controls="departure-panel">
											Departing Flight
										</a>
									</h4>
								</div>
								<div id="departure-panel" style="text-align:left;" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="departure-panel">
									<table class="table">
									<tbody>
										<tr>
											<td><strong class="text-success ">CAD1452.86</strong><div class="text-muted">round trip</div></td>
											<td>
												<strong class="text-primary">Departing</strong>
												<div><strong>Sep 14 @ 11:40 AM - Sep 14 @ 1:12 PM</strong>&nbsp;<span class="text-muted">YYZ - PHL</span><div class="text-muted ">US Airways, Inc. (US3756)</div></div><div><strong class="">Sep 14 @ 6:15 PM - Sep 15 @ 1:55 AM</strong>&nbsp;<span class="text-muted ">PHL - CDG</span><div class="text-muted ">US Airways, Inc. (US754)</div></div>
											</td>
											<td>
												<strong class="text-primary">Returning</strong>
												<div class="ng-scope"><strong class="">Sep 17 @ 7:20 AM - Sep 17 @ 3:50 PM</strong>&nbsp;<span class="text-muted ">CDG - PHL</span><div class="text-muted ">US Airways, Inc. (US755)</div></div><div><strong class="">Sep 17 @ 5:45 PM - Sep 17 @ 7:19 PM</strong>&nbsp;<span class="text-muted ">PHL - YYZ</span><div class="text-muted ">US Airways, Inc. (US3971)</div></div>
											</td>
										</tr>
									</tbody>
								</table>

								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Day one
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
									<ul class="list-group">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Porta ac consectetur ac</li>
										<li class="list-group-item">Vestibulum at eros</li>
									</ul>
								</div>
							</div>
							<div class="panel panel-danger">
								<div class="panel-heading" role="tab" id="departure-heading">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" href="#return-panel" aria-expanded="true" aria-controls="return-panel">
											Returning Flight
										</a>
									</h4>
								</div>
								<div id="return-panel" style="text-align:left;" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="return-panel">
									<table class="table">
									<tbody>
										<tr>
											<td><strong class="text-success ">CAD1452.86</strong><div class="text-muted">round trip</div></td>
											<td>
												<strong class="text-primary">Departing</strong>
												<div><strong>Sep 14 @ 11:40 AM - Sep 14 @ 1:12 PM</strong>&nbsp;<span class="text-muted">YYZ - PHL</span><div class="text-muted ">US Airways, Inc. (US3756)</div></div><div><strong class="">Sep 14 @ 6:15 PM - Sep 15 @ 1:55 AM</strong>&nbsp;<span class="text-muted ">PHL - CDG</span><div class="text-muted ">US Airways, Inc. (US754)</div></div>
											</td>
											<td>
												<strong class="text-primary">Returning</strong>
												<div class="ng-scope"><strong class="">Sep 17 @ 7:20 AM - Sep 17 @ 3:50 PM</strong>&nbsp;<span class="text-muted ">CDG - PHL</span><div class="text-muted ">US Airways, Inc. (US755)</div></div><div><strong class="">Sep 17 @ 5:45 PM - Sep 17 @ 7:19 PM</strong>&nbsp;<span class="text-muted ">PHL - YYZ</span><div class="text-muted ">US Airways, Inc. (US3971)</div></div>
											</td>
										</tr>
									</tbody>
								</table>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="height:100px;"></div>
			</div>
		</div>
		<div id="footer" ng-if="page>0">
			<div class="container">
				<span>Total: ${{totalPrice() | number:2}} </span>
				<button ng-show="page==1" ng-click="loadFlights()" ng-disabled="!(data.date.start!=''&&data.date.end!='')" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==2" ng-click="loadHotels()" ng-disabled="selectedFlight==-1" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==3" ng-click="loadActivities()" ng-disabled="selectedHotel==-1" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==4" ng-click="loadItinerary()" ng-disabled="selectedActivities.length<1" class="btn btn-white pull-right">Next</button>
				&nbsp;&nbsp;&nbsp;<button ng-click="setPage(page-1)" class="btn btn-black pull-right" style="position:relative;left:-15px;">Back</button>
			</div>
		</div>
	</div>
</div>

</body>
