
<body id="home" ng-app="homePage">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3jbHCRxEaq_SDfbkwpWIjOMNjWVjnk4&libraries=places"></script>
	<script type="text/javascript">autoload();</script>
	<div ng-controller="mainController" style="height:100%;position:relative;">
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Cover</h3>
							<nav>
								<ul class="nav masthead-nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="inner cover">
						<h1 class="cover-heading">Travllr<sup>TM</sup></h1>
						<button type="button" id="routes">routes</button>
						
						<p class="lead">Get started now.</p>
						<p class="lead" style="text-align:center;">
							<%= text_field_tag :origin, nil, class: 'location-input form-control', 'ng-model': 'data.location.start', 'placeholder': 'Home city'%>
							<%= text_field_tag :destination, nil, class: 'location-input form-control', 'ng-model': 'data.location.end', 'placeholder': 'Destination city' %>
							<button ng-click="page=1;" class="btn btn-primary" ng-disabled="!(data.location.start!=''&&data.location.end!='')">Next</button>
						</p>
					</div>
					<div class="mastfoot">
						<div class="inner">
							<p>Made with love by Richard, Fired, Aahan, Kevin</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="form-container" ng-class="{active: page > 0}">
			<div class="container">
				<div class="contents" ng-show="page==1">

					<h1>Select your getaway date</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div class="row" style="text-align:center;">
								<div class="col-md-6">
									<h3>Start Date</h3>
									<div id="start-calendar"></div>
								</div>
								<div class="col-md-6">
									<h3>End Date</h3>
									<div id="end-calendar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==2">
					<h1>Select your flight</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="flight in flights" ng-class="{success:$index==$parent.selectedFlight}" ng-click="$parent.selectedFlight=$index">
											<td><strong class="text-success">{{flight.saleTotal}}</strong><div class="text-muted">round trip</div></td>
											<td>
												<strong class="text-primary">Departing</strong>
												<div ng-repeat="segment in flight.slice[0].segment"><strong>{{convertDate(segment.leg[0].departureTime)}} - {{convertDate(segment.leg[0].arrivalTime)}}</strong>&nbsp;<span class="text-muted">{{segment.leg[0].origin}} - {{segment.leg[0].destination}}</span><div class="text-muted">{{getCarrier(segment.flight.carrier)}} ({{segment.flight.carrier}}{{segment.flight.number}})</div></div>
											</td>
											<td>
												<strong class="text-primary">Returning</strong>
												<div ng-repeat="segment in flight.slice[1].segment"><strong>{{convertDate(segment.leg[0].departureTime)}} - {{convertDate(segment.leg[0].arrivalTime)}}</strong>&nbsp;<span class="text-muted">{{segment.leg[0].origin}} - {{segment.leg[0].destination}}</span><div class="text-muted">{{getCarrier(segment.flight.carrier)}} ({{segment.flight.carrier}}{{segment.flight.number}})</div></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==3">
					<h1>Select your hotel</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="hotel in hotels" ng-class="{success:$index==$parent.selectedHotel}" ng-click="$parent.selectedHotel=$index">
											<td><img src="{{hotel.ThumbnailUrl}}" style="height:60px;"></td>
											<td><div class="text-primary header">{{hotel.Name}}</div><div></div></td>
											<td><div class="text-muted">{{hotel.Location.StreetAddress}}</div><p>{{hotel.Description}}</p></td>
											<td><div class="text-success header" ng-if="hotel.Price">${{hotel.Price.TotalRate.Value}}</div><a href="{{hotel.DetailsUrl}}" target="_blank" class="text-success" style="text-align:center;" ng-if="!hotel.Price">See<br/>Price</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="contents" ng-show="page==4">
					<h1>Select your activities</h1>
					<div class="panel main-panel">
						<div class="panel-body">
							<div ng-hide="loaded">
								<div class="sk-cube-grid">
									<div class="sk-cube sk-cube1"></div>
									<div class="sk-cube sk-cube2"></div>
									<div class="sk-cube sk-cube3"></div>
									<div class="sk-cube sk-cube4"></div>
									<div class="sk-cube sk-cube5"></div>
									<div class="sk-cube sk-cube6"></div>
									<div class="sk-cube sk-cube7"></div>
									<div class="sk-cube sk-cube8"></div>
									<div class="sk-cube sk-cube9"></div>
								</div><h2 style="display:inline-block;vertical-align:middle;margin:0px;" class="text-muted">Loading...</h2>
							</div>
							<div ng-show="loaded">
								<table class="table table-striped order-table">
									<tbody>
										<tr ng-repeat="activity in activities" ng-class="{success:$parent.activitySelected($index)}" ng-click="$parent.toggleActivity($index)">
											<td><img src="{{activity.image_url}}" style="height:60px;"></td>
											<td><div class="text-primary header">{{activity.name}}</div><div></div></td>
											<td><div class="text-muted">{{activity.location.address[0]}}</div><p>{{activity.snippet_text}}</p></td>
											<td><div class="text-success header" ng-if="hotel.Price">${{activity.Price.TotalRate.Value}}</div><a href="{{activity.url}}" class="text-success" style="text-align:center;" ng-if="!hotel.Price">More<br/>Info</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div style="height:100px;"></div>
			</div>
		</div>
		<div id="footer" ng-if="page>0">
			<div class="container">
				<span>Total: ${{totalPrice()}} </span>
				<button ng-show="page==1" ng-click="loadFlights()" ng-disabled="!(data.date.start!=''&&data.date.end!='')" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==2" ng-click="loadHotels()" ng-disabled="selectedFlight==-1" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==3" ng-click="loadActivities()" ng-disabled="selectedHotel==-1" class="btn btn-white pull-right">Next</button>
				<button ng-show="page==4" ng-click="loadItinerary()" ng-disabled="selectedActivites.length<1" class="btn btn-white pull-right">Next</button>
				&nbsp;&nbsp;&nbsp;<button ng-click="setPage(page-1)" class="btn btn-black pull-right" style="position:relative;left:-15px;">Back</button>
			</div>
		</div>
	</div>
</div>

</body>
